.page {
  touch-action: none;
  /* display: grid; */
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  width: 100svw;
  padding: 0;
  padding-top: 67px;
  overflow: hidden;
  overscroll-behavior: contain;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


