.global {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  user-select: none;
  -webkit-user-select: none;
  overscroll-behavior: contain;
  touch-action: none;
  cursor: default;
  overflow: hidden;
}