.item_add_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  max-width: 400px;
  padding: 14px;
  &:focus {
    outline: none;
  }
}

.item_add_form:global(.dark) {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.item_add_form:global(.light) {
  background-color: #fff;
  color: #000;
  border: 1px solid #555;
}
