.list_wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  padding-top: 4px;
}

@media (min-width: 600px) {
  .list_wrapper {
    padding-top: 10px;
  }
}

.list {
  width: 100%;
  overflow: auto;
  min-height: 0;
  touch-action: pan-x pan-y;
  overscroll-behavior: contain;
  max-height: calc(100vh - 210px);
  margin-top: 4px !important;
}

@media (min-width: 600px) {
  .list {
    max-height: calc(100vh - 160px);
  }
}

.list > div > div > div > li > div {
  padding-left: 0 !important;
  padding-right: 12px !important;
}

.search_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  width: 100%;
  padding: 0 16px;
}

.search {
  width: 100%;
}

.add_item {
  width: 100%;
  padding: 0 16px;
  margin-top: 8px;
}

.add_item_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  max-width: 400px;
  padding: 14px;
}

.add_item_form:global(.dark) {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.add_item_form:global(.light) {
  background-color: #fff;
  color: #000;
  border: 1px solid #555;
}

.delete_button_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
}

.delete_button {
  height: 100%;
  width: 70px;
  border-radius: 0 !important;
}
